* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
    font-size: 8em;
   
    text-align: center;
    padding-top: 0.25em;
    justify-content: center;
    align-items: center;
}

a {
    position: relative;
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    font-size: 2em;
    color:black; 
}


.dk_bake {
    font-size: 4em;
    display: flex;
    align-items: center;
    padding:1em;
    justify-content: center;
    align-items: center;
    color: rgb(26, 24, 24);
}

div ul li {
    align-items: center;
    position:relative
}



img  {

    justify-content: center;
    align-items: center;
    padding-bottom: 0.1em;
}

body {
display: flexbox;
background-color: cornsilk;
height: 100vh;
}

h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

p {
    padding-top: 1em;
}
.risk { 
    font-size: 4em;
    color: red;
    padding-top: em;
}